body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    /* font-family: 'Lato', sans-serif; */
}

/* http://typ.io/s/sjtt */
h1, h2, h3 {
    font-family: 'montserrat', 'lato', "helvetica neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 1px;
    color: #505358;
}

/* Header */

.header {
    color: #fff;
    fill: currentColor;
    background-color: #1d6896;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
}

.header .fas {
    padding: 18px 24px;
    font-size: 20px;
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 56px;
    padding-top: 12px;
    font-size: 18px;
    overflow-y: scroll;
    height: calc(100vh - 56px);
    width: 300px;
}



hr {
    height: 2px; 
    background-color: #333;
    border:none
}

.sidebar hr {
    width: 90%;
}

.sidebar a:focus,
.sidebar a:hover {
    z-index: 1;
    text-decoration: none;
    color: #495057;
    background-color: #f8f9fa;
}

.sidebar .fab,
.sidebar .fas,
.sidebar .far {
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    width: 40px;
}

.sidebar span {
    padding-left: 5px;
}

.sidebar h1 {
    font-size: 1.25rem;
}

.sidebar a {
    position: relative;
    display: block;

    color: #212529;
    background-color: #fff;

    padding: 10px 13px;
}

/* Content */

.content {
    margin-top: 56px;
    padding-top: 20px;
}

.content {
    margin-left: 340px;
    width: calc(100% - 300px)!important;
}

@media (min-width: 1600px) {
  .content {
    margin-left: 0;
    width: 100%!important;
  }
}

.content .note {
    padding: 1rem 0;
}

.blue {
    color: #4285F4;
}

.container {
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
}

.orange {
    color: #F07A19;
}

.green {
    color: #0F9D58;
}

.note .btn-group i {
    font-size: 25px;
    vertical-align: bottom;
    color: #666;
}

/* Sticky http://creative-punch.net/2014/02/create-css3-post-it-note/ */

  .quote-container {
    position: relative;
  }
  
  .sticky-note {
    color: #333;
    position: relative;
    width: 400px;
    margin: 0 auto;
    
    padding: 20px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  }

  .sticky-note .quote {
    background: transparent url(/images/quote-white.svg) no-repeat;
    opacity: .7;
    width: 40px; 
    height: 40px;
  }

  .sticky-note .fa-stack {
    font-size: 1.2em;
    width: 2em;
  }

  .sticky-note .icons {
    padding-bottom: 10px;
    font-size: 1.2em;
  }

  .sticky-note .icons i {
    margin-right: 5px;
  }

  .sticky-note .fa-circle {
      color: #B6CCD7;
  }

  .sticky-note p .fa-quote-left {
      padding-right: 10px;
  }

  .sticky-note .fa-youtube:before {
      
  }

  .sticky-note .fa-youtube {
    color: #ff0000;
    fill: #fff;
  }

  .sticky-note .fa-lightbulb {
    /* color: #587498; */
  }

  .sticky-note p {
    font-family: 'Kalam', cursive;
    font-size: 30px;
    position: relative;
  }
  
  .sticky-note .author {
    display: block;
    margin: 40px 0 0 0;
    text-align: right;
  }

  .sticky-note.yellow {
    background-color: #eae672;
  }

  .sticky-note.blue {
    background-color: #0080B9
  }

  .sticky-note.teal {
    background-color: #47A8BD;
  }

  .sticky-note a {
   
  }


  .fn-note-preview-container {
    max-width: 680px;
  }

  .fn-note-preview-container h3 {
      font-size: 21px;
      font-weight: 600;
  }

  .fn-summary {
      color: rgba(0, 0, 0, 0.54);
      line-height: 20px;
  }

  .fn-note-preview-image {
    flex: 0 0 152px;
  }

  .mb-48 {
     margin-bottom: 48px; 
  }

  .fn-note-preview-footer {
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    line-height: 20px;
    margin-top: 12px;
  }