.fn-add-note-button-container {
    position: fixed;
    bottom: 12px;
    right: 20px;
    font-size: 2em;
    color: #fff;
    background-color: #d23f31;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    z-index: 1060; /* $zindex-popover */
}