.fn-top-nav-wrapper {
    height: 56px;
}

.fn-top-nav-wrapper .btn-link {
    color: #fff;
}

.fn-mobile-note-edit {
    padding-bottom: 50px;
    padding-top: 10px;
}

.fn-top-nav {
    padding: 0.5rem 0;
    background-color: #1d6896;
    color: #fff;
}