.fn-list-item {
  max-width: 1200px;
}
  
@media (min-width: 960px) {
  .fn-list-item {   
    margin-right: auto;
    margin-left: auto;
  }
}

/* .fn-list-item:before {
    content: "\f249";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
} */

.fn-list-item-content {
    overflow: hidden;
    position: relative; 
    word-wrap: break-word;
    line-height: 1.5em;
    max-height: 6.2em; 
    padding-right: .8em;
}

.wrapper {
    -webkit-column-width: 150px;
    column-width: 150px;
    height: 100%;
}
  
/* https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints */
@media (min-width: 1200px) {

}

.fn-list-group-title {
    margin: 20px 0 8px;
    padding: 0 24px;
}

.fn-list-item-top-nav {
    background-color: #fff;
}

.fn-list-item-top-nav button {
    background-color: transparent;
    color: #666;
}

.fn-list-item-top-nav button:hover {
    background-color: transparent;
    color: #000;
}

/* Mirrors bootstrap sticky-top */
.fn-sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1019; /* $zindex-sticky */
}

.fn-list-item-bottom-nav {
    background-color: #fff;
}

.fn-editable-notes-list-item {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
}

.react-datepicker__triangle {
    left: 220px;
}

.fn-list-item-editor {
    border: 0;
}

.fn-note-preview-icon {
    margin-right: 20px;
}

.empty-state-container {
    height: calc(100vh - 56px);
}