.ql-container.ql-snow {
    border: 0;
}

.ql-container.ql-snow::before {
    left: 1px;
}

.ql-editor {
    padding: inherit;
}

.ql-toolbar.ql-snow {
    border: 0;
    padding: 15px 0 8px 0;
}

.fn-quill-toolbar-bottom {
    border-top: 1px solid #ccc;
    padding: 0;
    background-color: #fff;
}

.ql-container {
    height: auto;
    min-height: 100%;
}

.ql-disabled h1,
.ql-disabled h2,
.ql-disabled ul,
.ql-disabled li,
.ql-disabled p,
.ql-disabled .ql-syntax {
    cursor: pointer;
}

.ql-disabled .ql-editor h1,
.ql-disabled .ql-editor h2 {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 0;
}

.ql-disabled ol,
.ql-disabled ul,
.ql-disabled dl {
    margin-bottom: 0;
}

.ql-disabled .ql-editor p {
    margin: 0;
}

/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #969896;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #cc6666;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #de935f;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #f0c674;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #b5bd68;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #81a2be;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #b294bb;
}

.hljs,
.ql-syntax {
  display: block;
  overflow-x: auto;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
