#fn-sidebar-background {
    position: fixed;
    height: 100% !important;
    width: 100% !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1040; /* $zindex-modal-backdrop */
    background: rgba(0, 0, 0, 0.6)
}

@media (min-width: 1200px) {
    #fn-sidebar-background {
        height: 0 !important;
        width: 0 !important;
    }    
}

#fn-sidebar {
    left: -300px;

    padding: 5px 15px 0 15px;

    margin-left: -300px;
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    z-index: 1050; /* $zindex-modal */
    background-color: #F2F2F2;

    overflow-y: auto;
}

@media (max-width: 1199px) {
    #fn-sidebar.overlay-active {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    #fn-sidebar.active {
        left: 0;
        margin-left: 0; 
        top: 56px;
    }
}

.fn-sidebar-header {  
    margin-top: 20px;
}

#fn-sidebar .list-group-item {
    border: none;
    padding: .3rem 1.25rem;
    font-size: 1.05rem;
}

.fn-tags-list .inner-list-group {
    margin-left: 30px;
}

#fn-sidebar .list-group-item {
    background-color: #F2F2F2;
}

#fn-sidebar .list-group-item:first-child,
#fn-sidebar .list-group-item:last-child {
    border-radius: 0;
}

#fn-sidebar .list-group-item:hover {
    background-color: #E6E6E6;
    text-decoration: none;
}

#fn-sidebar hr {
    background: #999;
}

.fn-current-user-avatar {
    font-size: 2rem;
    width: 55px;
    height: 55px;
    display: inline-block;
}

.fn-current-user-avatar img {
    width: 48px;
    border-radius: 4rem;
}

.fn-current-user-name {
    display: inline-block;
    height: 55px;
}