body {
  background-color: #F2F2F2;
}

#root {
  height: 100vh;
  overflow: hidden;
}

.fn-app-content {
  overflow-y: scroll;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.App-header {
  background-color: #222;
  height: 20px;
  margin-bottom: 20px;
}

.ck-editor {
  border: none;
  outline: none;
}


/* New FN */

/* http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ */
/* https://stackoverflow.com/a/36599421 */
/* styles for '...' */ 

.fn-list-mode,
.fn-mobile-edit-mode {
  bottom: 0px;
  height: 100vh;
}

.fn-mobile-edit-mode{
  background-color: #fff;
}

@media (min-width: 1200px) {
  .fn-list-mode {
    position: relative;
  }
}

@keyframes fn-spinner-keyframes {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

.fn-spinner {
  animation: fn-spinner-keyframes 2s infinite linear;
}